.utilities {
  background-color: #1c1c1c;
}

.icons {
  float: right;
}

.icons ul {
  list-style: none;
}

.icons li {
  float: left;
  padding: 5px 15px;
  cursor: pointer;
}

.active {
  background-color: #b40431;
}
