.inactive {
  display: none;
}

.timer {
  display: block;
  margin-top: 20px;
}

.rounds-container {
  text-align: center;
}

.rounds-container h1 {
  font-size: 3em;
}

.time-container {
  text-align: center;
  margin: 40px 0 40px 0;
}

.time-container h1 {
  font-size: 5em;
}
