.inactive {
  display: none;
}

.progress {
  display: block;
}

.progress-background {
  width: 100%;
  background-color: #a8a3a3;
}

#progress-bar {
  width: 1%;
  height: 30px;
  background-color: #b40431;
}
