.settings {
  background-color: #b40431;
  text-align: center;
}

.inactive {
  display: none;
}

.submit {
  /* style for button */
  background-color: #848484;
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}
